!!!
html
  head
    title Spectacularr!
    :cdata
      alert('hi');
        console.log('hi');
  body
    br
    p#f.doo foo
    / This is a comment
    pbj.doo
      |Scrub Kindle! Ren & Stimpy
      Jade comment, not emitted.
      |More text
      - a = 5

      :cdata
        Now is: __#{message}__ *winter* of our poop.
      em= 1 + a
      - ls = [1, 2, 3]

      each i in 10
        yo!= i
      .doo.boo
        if false
          do not print
        else if false
          dont print again
        else
          <div id='blah'>sup</div>
