!!!
html
  head
    title Spectacularr!
    :javascript
      alert('hi');
        console.log('hi');
  body
    br
    p#f.doo foo
    'pbj.doo'
      /This is
         a #{message}
      |Scrub Kindle!
      -#Scrub Kindle2
      |Scrub Kindle3

      :markdown
        Now is: __#{message}__ *winter* of our poop.
      = 1 + 2
      .doo
        <div id='blah'>sup</div>
